# <%- options.type.toUpperCase() %> v<%- version %>
<% for ( const module of modules ) { -%>

## <%- module.summary %>
<% if (module.description) { -%>

<%- module.description %>
<% } -%>

Methods:

<% for ( let method of Object.values( module.methods ) ) { -%>
<% if (method.deprecated) { -%>
-   [~~<%- method.summary %>~~ `[deprecated]`](#<%- method.markdownId %>)
<% } else { -%>
-   [<%- method.summary %>](#<%- method.markdownId %>)
<% } -%>
<% } -%>
<% for ( let method of Object.values( module.methods ) ) { -%>

<a id="<%- method.markdownId %>"></a>

<% if (method.deprecated) { -%>
### ~~<%- method.summary %>~~ `[deprecated]`
<% } else { -%>
### <%- method.summary %>
<% } -%>

<!-- tabs:start -->

#### **JavaScript**

<!-- prettier-ignore -->
```js
const res = await api.call( "<%- method.id %>"<%- method.markdownParams %> );
```

#### **Shell**

<!-- prettier-ignore -->
```shell
curl \
    -X POST \
    -H "Authorization: Basic <YOUR-API-TOKEN>" \
    -H "Content-Type: application/json" \
    -d '[...PARAMETERS]' \
    "https://api.domain.com<%- method.id %>"
```

<!-- tabs:end -->
<% if (method.description) { -%>

<%- method.description %>
<% } -%>

**Permissions**

<% for ( let permission of method.permissions ) { -%>
<% if ( permission === "*" ) { -%>
-   "\*" - any connected user;
<% } else if ( permission === "guest" ) { -%>
-   "guest" - any guest (not-authenticated) user;
<% } else if ( permission === "user" ) { -%>
-   "user" - any authenticated user;
<% } else if ( permission === "root" ) { -%>
-   "root" - root user;
<% } else { -%>
-   "<%- permission %>";
<% } -%>
<% } -%>

**Parameters**
<% if (!method.spec.params) { -%>

Method require no parameters.
<% } else { -%>
<% for ( let param of method.spec.params ) { -%>

-   **<%- param.name %>** `[<%- !param.required ? "not " : "" %>required]`<%- param.summary ? ` - ${param.summary}` : "" %>
<% if (param.description) { -%>

<%- param.description %>
<% } -%>

    <!-- prettier-ignore -->
    ```yaml
<%- param.markdownSchema %>
    ```
<% } -%>
<% } -%>
<% } -%>
<% } -%>
